* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: 0;
}

:root {
  --primary: #007ced;
  --secondary: #222;
  --light-gray: #aaa;
  --white: #fff;
  --layout-max-width: 1280px;
}

body {
  background: var(--white);
  max-width: var(--layout-max-width);
  margin: 0 auto;
}

.burger-button-container {
  display: none;
}

.burger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.burger-button .bar {
  height: 6px;
  width: 100%;
  background: var(--white);
  border-radius: 6px;
}

.nav-list-container {
  list-style: none;
  padding: 24px;
  margin: 0;
  background: var(--secondary);
  display: flex;
  align-items: center;
  gap: 24px;
  transition: all 0.3s ease-in;
}

.nav-list-item {
  font-size: 16px;
}

.nav-list-item > a:hover {
  text-decoration: underline;
  color: var(--white);
}

.nav-list-item > a {
  color: var(--light-gray);
  text-decoration: none;
}
.main-container {
  display: flex;
}

.section-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  color: var(--white);
  font-size: 28px;
  font-weight: bold;
}

.dark-title {
  color: var(--secondary);
  font-size: 28px;
  font-weight: bold;
}

.left-container {
  display: flex;
  flex-direction: column;
  background: var(--secondary);
  width: 26vw;
  height: 100vh;
}

.image-container {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.profile-image {
  width: 100%;
}

.job-title {
  color: var(--white);
}

.contact-info-item {
  color: var(--white);
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.list-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* Tablet Break Points */
@media (max-width: 768px) {
  .burger-button-container {
    width: 100%;
    top: 0;
    background: var(--secondary);
    z-index: 30;
  }

  .nav-container {
    position: fixed;
    width: 100%;
    height: 100svh;
    transform: translateX(-1200px);
    transition: all 0.3s linear;
    z-index: 20;
  }

  .nav-container-open {
    transform: translateX(0);
  }

  .nav-list-container {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 28px;
  }

  .burger-button-container {
    display: block;
    padding: 24px;
    position: fixed;
  }

  .main-container {
    margin-top: 72px;
    flex-direction: column;
  }

  .left-container {
    width: 100%;
    height: auto;
  }

  .right-container {
    width: 100%;
  }
}
